<nav class="bg-transparent border-none fixed w-full top-0 left-0 z-50">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="#" class="flex items-center space-x-10">
            <img src="assets/images/LogoBlancoyDorado.png" class="h-16" alt="Logo" />
        </a>
        <div class="hidden md:block">
            <ul class="flex flex-col md:flex-row md:space-x-8 font-medium text-white">
                <li><a href="#" class="hover:text-gray-300">Venta</a></li>
                <li><a href="#" class="hover:text-gray-300">Arriendo</a></li>
                <li><a href="#" class="hover:text-gray-300">Destacadas</a></li>
                <li><a href="#" class="hover:text-gray-300">Nosotros</a></li>
                <li><a href="#" class="hover:text-gray-300">Clientes</a></li>
                <li><a href="#" class="hover:text-gray-300">Contacto</a></li>
                <li>
                    <a href="#"
                        class="text-[#CDAD60] hover:text-white border border-[#CDAD60] hover:bg-[#CDAD60] focus:ring-4 focus:outline-none focus:ring-[#CDAD60]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-[#CDAD60] dark:text-[#CDAD60] dark:hover:text-white dark:hover:bg-[#CDAD60]/90 dark:focus:ring-[#CDAD60]/60">
                        Consigna tu inmueble
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>