<app-navbar></app-navbar>

<div class="flex flex-col">
  <div class="w-full h-[50vh] overflow-hidden">
    <div class="relative w-full h-full">
      <!-- Imagen de fondo -->
      <div class="absolute inset-0 bg-cover bg-center z-10"
        style="background-image: url('assets/images/contactanos.png');">
      </div>

      <!-- Imagen del texto centrada y subida -->
      <div class="absolute inset-0 z-30 flex items-center justify-center">
        <img src="assets/images/SliderCONTACTO.jpg"
          class="w-[90%] sm:w-[100%] max-w-[1200px] h-auto object-contain -translate-y-12 sm:-translate-y-16"
          alt="Texto" />
      </div>
    </div>
  </div>

  <!-- Sección de filtros -->
  <div class="bg-gray-200" #dropdownContainer>
    <app-barra-filtros></app-barra-filtros>
  </div>
  <!-- Formulario y mapa -->
  <section class="contacto-formulario">
    <div class="mapa-info w-8/12 mx-auto mt-8">

      <iframe class="w-full h-72 rounded-md"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.527264572011!2d-75.57878828820685!3d6.19394229376781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46825af2bfffff%3A0xe438ca98577bfa7f!2sRenta%20Raiz!5e0!3m2!1ses-419!2sco!4v1744174393181!5m2!1ses-419!2sco"
        style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="formulario-container">
      <form [formGroup]="formContacto">
        <div>
          <input type="text" placeholder="Nombre" formControlName="nombre" />
        </div>
        <div>
          <input type="email" placeholder="Correo electrónico" formControlName="email" />
        </div>
        <div>
          <input type="tel" placeholder="Tu teléfono" formControlName="telefono" />
        </div>
        <div>
          <textarea placeholder="Mensaje" formControlName="mensaje"></textarea>
        </div>
        <button type="submit" (click)="createContacto()">
          <i class="fas fa-paper-plane"></i> Enviar
        </button>
      </form>

      <div class="info-contacto space-y-6 text-gray-800">
        <div class="flex items-start space-x-4">
          <i class="fas fa-phone-alt text-3xl text-gray-500 mt-1"></i>
          <div>
            <p class="font-semibold text-lg">Teléfono</p>
            <p>604 322-7088</p>
          </div>
        </div>

        <div class="flex items-start space-x-4">
          <i class="fas fa-mobile-alt text-3xl text-gray-500 mt-1"></i>
          <div>
            <p class="font-semibold text-lg">Móvil</p>
            <p>+57 304-541-1001</p>
          </div>
        </div>

        <div class="flex items-start space-x-4">
          <i class="fas fa-envelope text-3xl text-gray-500 mt-1"></i>
          <div>
            <p class="font-semibold text-lg">Correo electrónico</p>
            <p>{{ email }}</p>
          </div>
        </div>

        <div class="flex items-start space-x-4">
          <i class="fas fa-map-marker-alt text-3xl text-gray-500 mt-1"></i>
          <div>
            <p class="font-semibold text-lg">Dirección</p>
            <p>Carrera 43ª #9 Sur – 234 SQUARE TRADE AND HOME P.H – MEDELLÍN</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-botones-flotantes></app-botones-flotantes>

<app-footer></app-footer>