<nav [ngClass]="{
    'bg-[#060F29] shadow-md': isScrolled,
    'bg-transparent': !isScrolled
  }" class="border-none fixed w-full top-0 left-0 z-50 transition-all duration-300">
  <div [ngClass]="{ 'py-2': isScrolled, 'py-4': !isScrolled }"
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 transition-all duration-300">
    <!-- Logo -->
    <a  class="cursor-pointer flex items-center">
      <img src="assets/images/RR DORADO.png" [ngClass]="{
          'h-8 sm:h-10 md:h-12': isScrolled,
          'h-12 sm:h-14 md:h-16': !isScrolled
        }" class="transition-all duration-300" alt="Logo" />
    </a>

  
 
  </div>
</nav>