<!-- FOOTER RECTANGULAR -->
<footer class="relative w-full bg-[#060F29] min-h-[30px] pt-6 pb-6 pb-[env(safe-area-inset-bottom)] transform-gpu z-10">
  <div class="max-w-screen-xl mx-auto pb-24 px-4 pt-24">
    <div class="text-white">


      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="flex flex-col justify-between">
          <div class="mb-6 flex justify-start">
            <img src="assets/images/RR DORADO.png" class="h-24" alt="Logo" />
          </div>

        </div>

        <div class="flex flex-col justify-between">
          <div>
            <h6 class="mb-3 text-xl font-semibold">M.A.V.U</h6>
            <p class="text-gray-300 text-lg mb-4">
            <p>- M.A.V.U. Nro. 0067-17 expedido por la Secretaria de Gobierno de la Alcaldía de Medellín</p>
            <p>- M.A.V. U de Envigado Resolución 20240008120 (11-06-2024)</p>
          </div>

        </div>

        <!-- Instagram -->
        <div>
          <div class="grid grid-cols-4 gap-2 mb-4">
            <a href="https://www.instagram.com/reel/DIRwmbJvb3W/" target="_blank" rel="noopener noreferrer"
              class="aspect-square bg-gray-100 rounded-sm overflow-hidden cursor-pointer block">
              <img src="assets/images/post1.webp" class="rounded w-full aspect-square object-cover" alt="Insta 1" />
            </a>
            <a href="https://www.instagram.com/reel/DIPw2pQvNKI/" target="_blank" rel="noopener noreferrer"
              class="aspect-square bg-gray-100 rounded-sm overflow-hidden cursor-pointer block">
              <img src="assets/images/post2.webp" class="rounded w-full aspect-square object-cover" alt="Insta 2" />
            </a>
            <a href="https://www.instagram.com/reel/DIKFc0bvLxQ/" target="_blank" rel="noopener noreferrer"
              class="aspect-square bg-gray-100 rounded-sm overflow-hidden cursor-pointer block">
              <img src="assets/images/post3.webp" class="rounded w-full aspect-square object-cover" alt="Insta 3" />
            </a>
            <a href="https://www.instagram.com/p/DIHCJeeR10q/?img_index=1" target="_blank" rel="noopener noreferrer"
              class="aspect-square bg-gray-100 rounded-sm overflow-hidden cursor-pointer block">
              <img src="assets/images/post4.webp" class="rounded w-full aspect-square object-cover" alt="Insta 4" />
            </a>
          </div>
          <div class="flex justify-center">
            <a href="https://www.instagram.com/rentaraiz/" target="_blank"
              class="bg-[#0077ff] hover:bg-[#0066d6] text-white px-4 py-2 text-sm flex items-center space-x-2 rounded-lg transition-all duration-300 transform hover:scale-105 shadow-lg">
              <i class="fa-brands fa-instagram"></i>
              <span>Síguenos en Instagram</span>
            </a>
          </div>
        </div>
      </div>
    </div>



    <hr class="my-16 border-gray-600" />

    <div class="flex flex-col sm:flex-row justify-between items-center text-white text-sm">
      <span class="text-gray-300 text-center sm:text-left mb-2 sm:mb-0">
        © 2025 Renta Raiz S.A.S. Todos los derechos reservados.
      </span>

      <!-- Redes sociales -->
      <div class="flex space-x-6 text-2xl">
        <a (click)="abrirPestana('https://www.facebook.com/rentaraizsas')"
          class="cursor-pointer text-gray-300 hover:text-[#CDAD60] transition-colors"><i
            class="fa-brands fa-facebook-f"></i></a>
        <a (click)="abrirPestana('https://x.com/renta_raiz')"
          class="cursor-pointer text-gray-300 hover:text-[#CDAD60] transition-colors"><i
            class="fa-brands fa-twitter"></i></a>
        <a (click)="abrirPestana('https://www.instagram.com/rentaraiz/')"
          class="cursor-pointer text-gray-300 hover:text-[#CDAD60] transition-colors"><i
            class="fa-brands fa-instagram"></i></a>
        <a (click)="abrirPestana('https://co.pinterest.com/rentaraiz/')"
          class="cursor-pointer text-gray-300 hover:text-[#CDAD60] transition-colors"><i
            class="fa-brands fa-pinterest"></i></a>
        <a (click)="abrirPestana('https://www.youtube.com/@rentaraiz')"
          class="cursor-pointer text-gray-300 hover:text-[#CDAD60] transition-colors"><i
            class="fa-brands fa-youtube"></i></a>
      </div>
    </div>


  </div>
</footer>