<app-navbar [alwaysScrolled]="true"></app-navbar>

<div class="flex flex-col mt-28">
  <nav
    class="flex px-4 md:px-60 py-6 text-sm text-[#CDAD60]"
    aria-label="Breadcrumb"
  >
    <ol class="inline-flex items-center space-x-1 md:space-x-3">
      <li class="inline-flex items-center">
        <a
          href="#"
          class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-900"
        >
          <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10.707 1.293a1 1 0 00-1.414 0L1 9.586V17a2 2 0 002 2h4a1 1 0 001-1v-4h4v4a1 1 0 001 1h4a2 2 0 002-2V9.586l-8.293-8.293z"
            />
          </svg>
          {{ propiedad.biz | titlecase }}
        </a>
      </li>
      <li>
        <div class="flex items-center">
          <svg
            class="w-4 h-4 text-gray-400 mx-2"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414L13.414 10l-4.707 4.707a1 1 0 01-1.414 0z"
            />
          </svg>
          <a
            href="#"
            class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-900"
          >
            {{ propiedad.type | titlecase }}
          </a>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <svg
            class="w-4 h-4 text-gray-400 mx-2"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414L13.414 10l-4.707 4.707a1 1 0 01-1.414 0z"
            />
          </svg>
          <a
            href="#"
            class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-900"
          >
            {{ propiedad.city | titlecase }}
          </a>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <svg
            class="w-4 h-4 text-gray-400 mx-2"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414L13.414 10l-4.707 4.707a1 1 0 01-1.414 0z"
            />
          </svg>
          <span class="ml-1 text-sm font-medium text-gray-700">
            {{ propiedad.neighborhood | titlecase }}
          </span>
        </div>
      </li>
    </ol>
  </nav>

  <div class="px-4 md:px-10 lg:px-20 xl:px-[350px] mb-4">
    <div class="flex flex-wrap gap-2 justify-start">
      <button
        (click)="seleccionarTab('fotos')"
        [ngClass]="{
          'bg-[#080E36] text-white hover:bg-[#080E36]': tabActivo === 'fotos',
          'bg-gray-200 text-gray-900 hover:bg-gray-300': tabActivo !== 'fotos'
        }"
        class="inline-flex items-center px-4 py-2 rounded-lg focus:ring-4 focus:outline-none focus:ring-gray-300"
      >
        <i class="fas fa-image mr-2"></i> Fotos
      </button>

      <button
        (click)="seleccionarTab('mapa')"
        [ngClass]="{
          'bg-[#080E36] text-white hover:bg-[#080E36]': tabActivo === 'mapa',
          'bg-gray-200 text-gray-900 hover:bg-gray-300': tabActivo !== 'mapa'
        }"
        class="inline-flex items-center px-4 py-2 rounded-lg focus:ring-4 focus:outline-none focus:ring-gray-300"
      >
        <i class="fas fa-map-marker-alt mr-2"></i> Mapa
      </button>

      <button
        (click)="seleccionarTab('zona')"
        [ngClass]="{
          'bg-[#080E36] text-white hover:bg-[#080E36]': tabActivo === 'zona',
          'bg-gray-200 text-gray-900 hover:bg-gray-300': tabActivo !== 'zona'
        }"
        class="inline-flex items-center px-4 py-2 rounded-lg focus:ring-4 focus:outline-none focus:ring-gray-300"
      >
        <i class="fas fa-street-view mr-2"></i> Conocer la zona
      </button>
    </div>
  </div>

  <div class="flex flex-col md:flex-row px-4 md:px-20 gap-2">
    <div class="w-full md:w-2/3">
      @if (tabActivo === 'fotos') {
      <ng-container>
        <div *ngIf="propiedad?.images?.length > 0" class="flex flex-col">
          <div id="carousel" class="w-full relative" data-carousel="static">
            <div class="relative h-[550px] overflow-hidden rounded-xl">
              <div
                *ngFor="let img of propiedad.images; let i = index"
                [ngClass]="{
                  hidden: selectedIndex !== i,
                  block: selectedIndex === i
                }"
                class="duration-700 ease-in-out"
                data-carousel-item
              >
                <img
                  [src]="img.imageurl"
                  alt="Imagen propiedad"
                  class="absolute w-full h-full object-cover rounded-xl"
                />
              </div>
            </div>
            <!-- Controles -->
            <button
              type="button"
              class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
              (click)="prevImage()"
            >
              <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50"
              >
                <svg
                  class="w-4 h-4 text-white"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 19l-7-7 7-7"
                  ></path>
                </svg>
              </span>
            </button>
            <button
              type="button"
              class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
              (click)="nextImage()"
            >
              <span
                class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50"
              >
                <svg
                  class="w-4 h-4 text-white"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5l7 7-7 7"
                  ></path>
                </svg>
              </span>
            </button>
          </div>
          <div class="w-full mt-4 relative mx-auto">
            <div class="relative flex items-center justify-center gap-3 h-32">
              <button
                *ngIf="propiedad.images.length > thumbnailsPerPage"
                (click)="prevThumbs()"
                class="absolute left-0 z-20 flex items-center justify-center h-full px-2 cursor-pointer group focus:outline-none"
              >
                <span
                  class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-white/30 group-hover:bg-white/50"
                >
                  <svg
                    class="w-4 h-4 text-white"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 19l-7-7 7-7"
                    />
                  </svg>
                </span>
              </button>

              <ng-container
                *ngFor="let img of visibleThumbnails; let i = index"
              >
                <div
                  class="relative w-1/3 h-full rounded-md overflow-hidden cursor-pointer group"
                  (click)="selectImage(visibleThumbnailsStart + i)"
                >
                  <img
                    [src]="img.imageurl"
                    [alt]="'Miniatura ' + (visibleThumbnailsStart + i + 1)"
                    class="w-full h-full object-cover transition duration-300 border-2"
                    [class.border-blue-500]="
                      selectedIndex === visibleThumbnailsStart + i
                    "
                  />
                </div>
              </ng-container>

              <button
                *ngIf="propiedad.images.length > thumbnailsPerPage"
                (click)="nextThumbs()"
                class="absolute right-0 z-20 flex items-center justify-center h-full px-2 cursor-pointer group focus:outline-none"
              >
                <span
                  class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-white/30 group-hover:bg-white/50"
                >
                  <svg
                    class="w-4 h-4 text-white"
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 5l7 7-7 7"
                    />
                  </svg>
                </span>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
      } @if (tabActivo === 'mapa') {
      <ng-container>
        <div class="flex flex-col">
          <div class="w-full max-w-4xl relative">
            <div class="relative h-[700px] overflow-hidden rounded-xl">
              <app-mapa></app-mapa>
            </div>
          </div>
        </div>
      </ng-container>
      } @if (tabActivo === 'zona') {
      <ng-container>
        <div class="flex flex-col">
          <div class="w-full max-w-4xl relative">
            <div class="relative h-[700px] overflow-hidden rounded-xl">
              <iframe
                class="w-full h-full rounded-md"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.527264572011!2d-75.57878828820685!3d6.19394229376781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46825af2bfffff%3A0xe438ca98577bfa7f!2sRenta%20Raiz!5e0!3m2!1ses-419!2sco!4v1744174393181!5m2!1ses-419!2sco"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </ng-container>
      }
    </div>

    <div
      class="w-full md:w-1/3 transform hover:scale-[1.02] transition-all duration-300"
    >
      <div
        class="bg-white border border-gray-200 rounded-xl p-6 shadow-[0_10px_25px_rgba(0,0,0,0.1)] hover:shadow-[0_12px_30px_rgba(0,0,0,0.2)] transition-shadow duration-300 min-h-[650px] flex flex-col justify-between"
      >
        <div class="mb-2">
          @if (propiedad.biz_code === 2 || propiedad.biz_code === 3) {
          <p class="text-gray-500 text-sm mb-1">Cómpralo desde:</p>
          } @if (propiedad.biz_code === 3) {
          <p class="text-3xl font-extrabold text-gray-900 mb-1 text-center">
            <span class="text-black">
              ${{ propiedad.saleprice | currency : "symbol" : "1.0-0" }}</span
            >
          </p>

          } @if (propiedad.biz_code === 1 || propiedad.biz_code === 3) {
          <p class="text-gray-500 text-sm mb-1">Arrienda en:</p>
          } @if (propiedad.biz_code === 3) {
          <p class="text-3xl font-extrabold text-gray-900 mb-1 text-center">
            <span class="text-black">
              $ {{ propiedad.rent | currency : "symbol" : "1.0-0" }}</span
            >
          </p>
          } @if (propiedad.biz_code === 1 || propiedad.biz_code === 2) {
          <p class="text-3xl font-extrabold text-gray-900 mb-1 text-center">
            <span class="text-black"> $ {{ propiedad.price_format }}</span>
          </p>
          }
        </div>

        <div class="relative my-6">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-400"></div>
          </div>
          <div class="relative flex justify-center">
            <span class="px-2 bg-white text-xs text-gray-500"
              >Detalles clave</span
            >
          </div>
        </div>

        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-4 mt-5 text-[#080E36]"
        >
          <!-- Baños -->
          <div class="flex flex-col items-center">
            <span class="text-sm font-semibold">Baños</span>
            <div class="flex items-center">
              <i class="fas fa-bath text-lg"></i>
              <span class="ml-2">{{ propiedad.bathrooms }}</span>
            </div>
          </div>

          <!-- habitaciones -->
          <div class="flex flex-col items-center">
            <span class="text-sm font-semibold">Habitaciones</span>
            <div class="flex items-center">
              <i class="fas fa-bed text-lg"></i>
              <span class="ml-2">{{ propiedad.bedrooms }}</span>
            </div>
          </div>

          <!-- Parqueaderos -->
          <div class="flex flex-col items-center">
            <span class="text-sm font-semibold">Parqueaderos</span>
            <div class="flex items-center">
              <i class="fas fa-parking text-lg"></i>
              <span class="ml-2">{{ propiedad.parking }}</span>
            </div>
          </div>

          <!-- Baños -->
          <div class="flex flex-col items-center">
            <span class="text-sm font-semibold">Año construcción</span>
            <div class="flex items-center">
              <i class="fa-regular fa-calendar-days"></i>
              <span class="ml-2">{{ propiedad.build_year || "N/A" }}</span>
            </div>
          </div>

          <!-- Área construida o lote -->
          <div class="flex flex-col items-center">
            <span class="text-sm font-semibold">Área</span>
            <div class="flex items-center">
              <i class="fas fa-ruler-combined text-lg"></i>
              <span class="ml-2"
                >{{
                  propiedad.area_cons || propiedad.area_lot || "N/A"
                }}
                m²</span
              >
            </div>
          </div>

          <!-- Parqueadero -->
          <div class="flex flex-col items-center">
            <span class="text-sm font-semibold">Tamaño lote</span>
            <div class="flex items-center">
              <i class="fas fa-parking text-lg"></i>
              <span class="ml-2">{{ propiedad.parqueaderos || "N/A" }}</span>
            </div>
          </div>

          <!-- Estrato -->
          <div class="flex flex-col items-center">
            <span class="text-sm font-semibold">Codigo</span>
            <div class="flex items-center">
              <i class="fas fa-layer-group text-lg"></i>
              <span class="ml-2">{{
                propiedad.neighborhood_code || "N/A"
              }}</span>
            </div>
          </div>

          <!-- Año de entrega -->
          <div class="flex flex-col items-center">
            <span class="text-sm font-semibold">Estrato</span>
            <div class="flex items-center">
              <i class="fas fa-calendar-check text-lg"></i>
              <span class="ml-2">{{ propiedad.status || "N/A" }}</span>
            </div>
          </div>
        </div>

        <div class="rounded-lg p-10 text-center">
          <p class="text-[#080E36] font-medium">¡Si te gusta contáctanos!</p>
        </div>

        <div class="space-y-3">
          <button
            type="button"
            (click)="openModalCrearContacto(propiedad.codpro, 'telefonos')"
            class="w-full flex items-center justify-center gap-2 text-gray-700 hover:text-white border border-[#080E36] hover:bg-[#080E36] focus:ring-4 focus:outline-none focus:ring-[#080E36] font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-all duration-300 dark:border-[#080E36] dark:text-[#080E36] dark:hover:text-white dark:hover:bg-[#080E36] dark:focus:ring-[#080E36]"
          >
            <i class="fas fa-phone-alt fa-sm"></i>
            Ver teléfonos
          </button>

          <button
            type="button"
            (click)="openModalCrearContacto(propiedad.codpro, 'whatsapp')"
            class="w-full flex items-center justify-center gap-2 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-all duration-300 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800"
          >
            <i class="fab fa-whatsapp fa-sm"></i>
            Contactar por WhatsApp 😊
          </button>

          <button
            type="button"
            (click)="openModalCrearContacto(propiedad.codpro, 'soloEnviar')"
            class="w-full text-[#CDAD60] hover:text-white border border-[#CDAD60] hover:bg-[#CDAD60] focus:ring-4 focus:outline-none focus:ring-[#CDAD60] font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-all duration-300 dark:border-[#CDAD60] dark:text-[#CDAD60] dark:hover:text-white dark:hover:bg-[#CDAD60] dark:focus:ring-[#CDAD60]"
          >
            Quiero que me contacten
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col md:flex-row px-4 md:px-20 gap-2">
    <div
      class="w-full md:w-2/3 p-20 bg-white rounded-lg shadow-md text-[#080E36]"
    >
      <div class="grid grid-cols-1 md:grid-cols-4 text-sm font-medium">
        <!-- Columna 1 -->
        <div class="flex flex-col items-center text-center">
          <span class="text-[#080E36]">Celdas de parqueo adicionales</span>
          <div class="flex items-center justify-center mt-2 text-gray-700">
            <i class="fas fa-car mr-2 text-gray-900"></i>
            <span class="font-semibold">1</span>
          </div>
        </div>

        <!-- valor de administración incluida en el arriendo -->
        <div class="flex flex-col items-center text-center">
          <p class="text-[#080E36] text-sm">
            ¿Valor de administración incluida en el arriendo?
          </p>
          <div class="flex items-center justify-center mt-2 text-gray-700">
            <i class="fas fa-file-invoice-dollar mr-2 text-gray-900"></i>
            <span class="font-semibold">Sí</span>
          </div>
        </div>

        <!-- disponible en arriendo -->
        @if (propiedad.biz_code === 1 || propiedad.biz_code === 3) {
        <div class="flex flex-col items-center text-center">
          <p class="text-[#080E36] text-sm">¿Disponible en arriendo?</p>
          <div class="flex items-center justify-center mt-2 text-gray-700">
            <i class="fas fa-check-circle mr-2 text-gray-900"></i>
            @if (propiedad.status_name == 'Disponible') {
            <span class="font-semibold">Sí</span>
            } @if (propiedad.status_name != 'Disponible') {
            <span class="font-semibold">No</span>
            }
          </div>
        </div>
        }

        <!-- disponible en venta -->
        @if (propiedad.biz_code === 2 || propiedad.biz_code === 3) {
        <div class="flex flex-col items-center text-center">
          <p class="text-[#080E36] text-sm">¿Disponible en venta?</p>
          <div class="flex items-center justify-center mt-2 text-gray-700">
            <i class="fas fa-check-circle mr-2 text-gray-900"></i>
            @if (propiedad.status_name == 'Disponible') {
            <span class="font-semibold">Sí</span>
            } @if (propiedad.status_name != 'Disponible') {
            <span class="font-semibold">No</span>
            }
          </div>
        </div>
        }

        <!-- valor en venta -->
        @if (propiedad.biz_code === 2 || propiedad.biz_code === 3) {
        <div class="flex flex-col items-center text-center">
          <span class="text-[#080E36]">Valor en venta</span>
          <div class="flex items-center justify-center mt-2 text-gray-700">
            <i class="fas fa-dollar-sign mr-2 text-gray-900"></i>
            <span class="font-semibold">{{ propiedad.price_format }}</span>
          </div>
        </div>
        }

        <!-- valor en arriendo -->
        @if (propiedad.biz_code === 1 || propiedad.biz_code === 3) {
        <div class="flex flex-col items-center text-center">
          <span class="text-[#080E36]">Valor en arriendo</span>
          <div class="flex items-center justify-center mt-2 text-gray-700">
            <i class="fas fa-dollar-sign mr-2 text-gray-900"></i>
            <span class="font-semibold">{{ propiedad.price_format }}</span>
          </div>
        </div>
        }
      </div>

      <div class="mt-6">
        <h2 class="text-lg font-bold text-[#080E36] mb-2">Descripción</h2>
        <p class="text-gray-700 text-sm leading-relaxed">
          {{ propiedad.description }}
        </p>
      </div>

      <div class="mt-6">
        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-y-3 gap-x-6 text-sm text-gray-800"
        >
          <div
            *ngFor="let amenity of propiedad.amenities"
            class="flex items-center"
          >
            <i class="fas fa-check text-yellow-500 mr-2"></i>
            {{ amenity.name }}
          </div>
        </div>
      </div>
    </div>

    <div
      class="w-full md:w-1/3 transform hover:scale-[1.02] transition-all duration-300"
    >
      <!-- Nuevo contenedor para redes sociales -->
      <div
        class="bg-white border border-gray-200 mt-3 rounded-xl p-6 shadow-[0_10px_25px_rgba(0,0,0,0.1)]"
      >
        <!-- Perfil de Instagram -->
        <div class="flex items-center mb-4">
          <!-- Foto de perfil redonda -->
          <div
            class="w-12 h-12 rounded-full overflow-hidden border-2 border-pink-500 p-0.5 mr-3"
          >
            <img
              src="assets/images/rentaraiz.webp"
              alt="Perfil"
              class="w-full h-full object-cover rounded-full"
            />
          </div>

          <!-- Nombre de empresa y botón seguir -->
          <div class="flex-grow">
            <h3 class="font-semibold text-gray-800">rentaraiz</h3>
            <p class="text-xs text-gray-500">𝐈𝐧𝐦𝐨𝐛𝐢𝐥𝐢𝐚𝐫𝐢𝐚 𝐑𝐞𝐧𝐭𝐚 𝐑𝐚𝐢𝐳 𝐒𝐀𝐒</p>
          </div>

          <a
            href="https://www.instagram.com/rentaraiz/"
            target="_blank"
            class="text-xs font-semibold text-pink-600 hover:text-pink-700 transition-colors cursor-pointer inline-block px-2 py-1"
          >
            Seguir
          </a>
        </div>

        <!-- Contenedor de imágenes (grid 3x3) -->
        <div class="grid grid-cols-2 gap-1 mb-3">
          <!-- Publicación 1 -->
          <a
            href="https://www.instagram.com/reel/DIRwmbJvb3W/"
            target="_blank"
            rel="noopener noreferrer"
            class="aspect-square bg-gray-100 rounded-sm overflow-hidden cursor-pointer block"
          >
            <img
              src="assets/images/post1.webp"
              alt="Post Instagram"
              class="w-full h-full object-cover hover:opacity-90 transition-opacity"
            />
          </a>

          <!-- Publicación 2 -->
          <a
            href="https://www.instagram.com/reel/DIPw2pQvNKI/"
            target="_blank"
            rel="noopener noreferrer"
            class="aspect-square bg-gray-100 rounded-sm overflow-hidden cursor-pointer block"
          >
            <img
              src="assets/images/post2.webp"
              alt="Post Instagram"
              class="w-full h-full object-cover hover:opacity-90 transition-opacity"
            />
          </a>

          <!-- Publicación 3 -->
          <a
            href="https://www.instagram.com/reel/DIKFc0bvLxQ/"
            target="_blank"
            rel="noopener noreferrer"
            class="aspect-square bg-gray-100 rounded-sm overflow-hidden cursor-pointer block"
          >
            <img
              src="assets/images/post3.webp"
              alt="Post Instagram"
              class="w-full h-full object-cover hover:opacity-90 transition-opacity"
            />
          </a>

          <!-- Publicación 4 -->
          <a
            href="https://www.instagram.com/p/DIHCJeeR10q/?img_index=1"
            target="_blank"
            rel="noopener noreferrer"
            class="aspect-square bg-gray-100 rounded-sm overflow-hidden cursor-pointer block"
          >
            <img
              src="assets/images/post4.webp"
              alt="Post Instagram"
              class="w-full h-full object-cover hover:opacity-90 transition-opacity"
            />
          </a>
        </div>

        <!-- Botón "Ver más" -->
        <a
          href="https://www.instagram.com/rentaraiz/"
          target="_blank"
          rel="noopener noreferrer"
          class="w-full py-2 text-sm font-medium text-pink-600 hover:text-pink-700 transition-colors flex items-center justify-center"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4 mr-1"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4"
            />
          </svg>
          Ver más en Instagram
        </a>
      </div>
    </div>
  </div>
</div>

<app-modal-crear-contacto></app-modal-crear-contacto>

<app-footer></app-footer>
