
<!-- Google tag (gtag.js) event -->
<script>
  gtag('event', 'form_submit', {
    // <event_parameters>
  });
</script>


<div class="relative flex items-center justify-center min-h-screen font-sans">

  <!-- Video de fondo -->
  <iframe id="vimeo-video"
    src="https://player.vimeo.com/video/420041930?loop=1&autoplay=1&title=0&byline=0&portrait=0&background=1"
    class="fixed top-0 left-0 w-full h-full object-cover z-0" frameborder="0" allow="autoplay; fullscreen"></iframe>

  <!-- Capa oscura + contenido -->
  <div
    class="absolute top-0 left-0 w-full h-full bg-[#011335] bg-opacity-90 flex items-start justify-center pt-20 z-10">
    <div class="text-center text-white py-12 px-6 rounded-2xl w-full max-w-5xl">
      <img src="assets/images/RR DORADO.png" class="w-60 mx-auto mb-6" alt="logo-renta-raiz" />

      <h2 class="text-[35px] font-bold mb-10 tracking-tight uppercase font-[PlayfairDisplay] leading-snug">
        Tu Información Fue <br />
        Enviada Con Éxito
      </h2>

      <div
        class="bg-[#CDAD60] text-white text-[27px] font-bold py-1 px-8 mb-6 inline-block uppercase tracking-wider shadow-lg">
        Serás redirigido al WhatsApp con Lenys nuestra contact center
      </div>
    </div>
  </div>
</div>