<app-navbar  (abrir)="toggleOffcanvas()"></app-navbar>

<div class="flex flex-col">
  <div class="banner-contacto w-full h-[40vh] md:h-[60vh] overflow-hidden">
    <div class="relative w-full h-full">
      <!-- Imagen de Fondo (No se corta en móvil) -->
      <img src="assets/images/SliderQUIENESOMOS.png" loading="lazy"
        class="absolute inset-0 w-full h-full object-fill md:object-cover lg:object-cover xl:object-cover 2xl:object-cover z-10"
        alt="Fondo" />

      <!-- Imagen de Texto (Más grande en móvil) -->
      <div class="absolute inset-0 z-30 flex items-center">
        <img src="assets/images/TEXTOQUIENESOMOS.png" loading="lazy"
          class="hidden lg:block w-[100%] md:w-[60%] lg:w-[70%] md:mb-16 2xl:mb-0 xl:w-[60%] 2xl:w-[50%] h-auto object-contain md:-translate-y-48 xl:-translate-y-[-50px] translate-x-26 md:translate-x-60 lg:translate-x-2 xl:ml-[195px] 2xl:translate-x-64 custom-1024:translate-x-custom-1024"
          alt="Quiénes Somos Desktop" />
        <!-- Mobile & Tablet Image (up to lg) -->
        <div class="flex justify-center lg:hidden">
          <img src="assets/images/QUIENES SOMOS-MOVIL.png"
            class="w-[70%] md:w-[85%] h-auto object-contain md:-translate-y-[-190px] -translate-y-[-70px]"
            alt="Quiénes Somos Mobile" />
        </div>
      </div>
    </div>
  </div>

  <div #dropdownContainer>
    <div class="bg-gray-200">
      <app-barra-filtros></app-barra-filtros>
    </div>
  </div>

  <div class="bg-gray-200">
    <div class="max-w-6xl mx-auto px-6 py-12 mt-12">
      <h1 class="text-4xl text-center font-bold text-gray-800 mb-14">
        ¿Quiénes somos?
      </h1>
      <div class="flex flex-col md:flex-row gap-8">
        <!-- Columna de texto -->
        <div class="md:w-2/3">
          <div class="space-y-6 text-gray-700 text-justify">
            <p>
              <strong class="font-semibold text-gray-900">Renta Raiz </strong>
              es una inmobiliaria especializada en la renta, venta y
              administración de inmuebles de lujo en Medellín y Antioquia. Con
              más de 8 años en el mercado, nos hemos consolidado como los
              expertos en propiedades exclusivas, ofreciendo a nuestros clientes
              una experiencia personalizada y de alto nivel. Nos enfocamos en
              brindar un servicio único, donde cada cliente es atendido con un
              enfoque personalizado que asegura la búsqueda de la propiedad
              perfecta que cumpla con sus expectativas.
            </p>

            <p>
              Además de ayudar a nuestros clientes a encontrar su hogar ideal,
              somos expertos en la
              <strong class="font-semibold text-gray-900">administración de propiedades de lujo.</strong>. Los
              propietarios confían en nosotros para gestionar y maximizar
              el valor de sus inmuebles, asegurándose de que sean rentados o
              vendidos bajo las mejores condiciones del mercado. Nos encargamos
              de cada detalle, desde la promoción hasta la negociación,
              asegurando un proceso fluido y eficiente.
            </p>

            <p>
              Nuestra esencia se basa en la
              <strong class="font-semibold text-gray-900">calidad sobre la cantidad</strong>: Seleccionamos
              meticulosamente propiedades que cumplan con los
              más altos estándares de lujo y sofisticación, creando un
              portafolio exclusivo que garantiza el mejor valor en cada
              transacción.
            </p>

            <p>
              Contamos con un equipo de
              <strong class="font-semibold text-gray-900">asesores de alto nivel</strong>, capacitados para brindar un
              servicio excepcional, apoyados en
              tecnología de punta y estrategias de publicidad de vanguardia.
              Cada propiedad es presentada con el cuidado que merece, asegurando
              su visibilidad en los canales adecuados para atraer a los
              compradores más selectos.
            </p>
          </div>
        </div>

        <!-- Columna de imagen -->
        <div class="md:w-2/3 flex items-center justify-center">
          <img src="assets/images/EQUIPO.jpg" alt="Renta Raiz - Inmobiliaria de lujo"
            class="rounded-lg shadow-lg object-cover w-full h-full max-h-[580px]" />
        </div>
      </div>
    </div>
  </div>
  <!-- nuesta histrio -->
  <div class="max-w-4xl mx-auto px-6 py-12">
    <h1 class="text-4xl text-center font-bold text-gray-800 mb-8">
      Nuestra Historia
    </h1>
    <div class="flex flex-col md:flex-row gap-8">
      <div class="md:w-2/3">
        <img src="assets/images/SOCIOS-1.jpg" alt="Renta Raiz - Inmobiliaria de lujo"
          class="rounded-lg shadow-lg object-cover w-full h-full max-h-[580px]" />
      </div>

      <div class="md:w-2/3 flex items-center justify-center">
        <div class="space-y-6 text-gray-700 text-justify">
          <p>
            <strong class="font-semibold text-gray-900">Nuestra historia</strong>
            comenzó en 2017 cuando Juan Pablo Ospina, motivado por la noticia de
            que sería padre, decidió fundar su propia empresa tras adquirir
            experiencia en el mercado de bienes raíces de lujo.
          </p>

          <p>
            Junto a su hermana Sara, quien lideró la creación de la marca y la
            identidad visual de Renta Raíz, y su amigo Juan Pablo Hoyos, experto
            en ventas, iniciaron una aventura empresarial con una visión clara:
            posicionarse como líderes en la comercialización y administración de
            inmuebles de lujo.
          </p>
          <p>
            Desde entonces, su equipo ha crecido, incluyendo a expertos en
            derecho inmobiliario y finanzas, como Juan Diego Cárdenas y Natalia
            Mejía, quienes han sido fundamentales en su expansión. Hoy, los tres
            socios continúan construyendo su legado, guiados por la fe, el
            compromiso y una pasión compartida por crear una empresa de lujo que
            transforma la experiencia inmobiliaria en Antioquia y más allá.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección azul recta y compacta -->
  <div class="w-full flex flex-col justify-center items-center py-16 md:py-24 mt-20 bg-[#060F29]">
    <img src="assets/images/2TextoBarra2-e1675443584947.png" alt="Texto decorativo"
      class="w-[80%] sm:w-[60%] md:w-[50%] h-auto mb-6" />

    <div class="flex flex-wrap justify-center gap-3">
      <button type="button" (click)="
          abrirPestana(
            'https://api.whatsapp.com/send?phone=573145438665&fbclid=IwAR3QMKqSukr1caiTy37NVGvXSveu2ROlTUQZ1AQgJ7nr4dzz1FZOdH3rrwU'
          )
        "
        class="flex items-center justify-center text-[#CDAD60] border-2 border-[#CDAD60] hover:text-white hover:bg-[#CDAD60] focus:outline-none focus:ring-4 focus:ring-[#CDAD60]/50 font-bold rounded-full text-sm sm:text-base px-4 py-2 sm:px-6 sm:py-3 transition-all duration-300 transform hover:scale-105 shadow-md hover:shadow-lg">
        <i class="fas fa-envelope mr-2"></i> Hablemos
      </button>
    </div>
  </div>

  <!-- Sección "Por qué elegirnos" -->
  <div class="bg-gray-200">
    <div class="w-full flex flex-col items-center px-4 py-28">
      <!-- Título -->
      <h1 class="text-4xl sm:text-5xl font-bold text-[#080E36] text-center max-w-6xl mb-4">
        ¿Por qué elegirnos?
      </h1>

      <!-- Subtítulo -->
      <h2 class="text-lg sm:text-2xl text-[#9a9b9c] text-center max-w-4xl mb-12">
        Porque en Renta Raíz, hacemos del lujo una experiencia sin
        complicaciones.
      </h2>

      <!-- Contenedor de tarjetas -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-6xl w-full px-4">
        <!-- Tarjeta 1 -->
        <div
          class="bg-white shadow-lg rounded-2xl p-6 text-center border-2 border-yellow-500 transition-transform duration-300 hover:scale-105">
          <div class="flex justify-center mb-6">
            <img src="assets/images/card1.png" alt="Visión" class="w-24 h-24 sm:w-28 sm:h-28 object-contain" />
          </div>
          <h3 class="text-lg font-semibold text-gray-800">
            Visión de Liderazgo en el Mercado de Lujo
          </h3>
          <p class="text-gray-600 mt-4 text-justify">
            Si hablamos de lujo, Renta Raíz es la mejor opción para encontrar
            propiedades de alto valor o confiar en nosotros la gestión de
            propiedades exclusivas.
          </p>
        </div>

        <!-- Tarjeta 2 -->
        <div
          class="bg-white shadow-lg rounded-2xl p-6 text-center border-2 border-yellow-500 transition-transform duration-300 hover:scale-105">
          <div class="flex justify-center mb-6">
            <img src="assets/images/card2.png" alt="Experiencia" class="w-24 h-24 sm:w-28 sm:h-28 object-contain" />
          </div>
          <h3 class="text-lg font-semibold text-gray-800">
            Experiencia Personalizada
          </h3>
          <p class="text-gray-600 mt-4 text-justify">
            Nuestro equipo de asesores se especializa en ser personal shoppers
            inmobiliarios, brindando una atención personalizada para una
            experiencia fluida y sin preocupaciones.
          </p>
        </div>

        <!-- Tarjeta 3 -->
        <div
          class="bg-white shadow-lg rounded-2xl p-6 text-center border-2 border-yellow-500 transition-transform duration-300 hover:scale-105">
          <div class="flex justify-center mb-6">
            <img src="assets/images/card3.png" alt="Marketing" class="w-24 h-24 sm:w-28 sm:h-28 object-contain" />
          </div>
          <h3 class="text-lg font-semibold text-gray-800">
            Publicidad y Marketing de Alto Impacto
          </h3>
          <p class="text-gray-600 mt-4 text-justify">
            Nos enfocamos en posicionar la marca y maximizar la visibilidad de
            cada propiedad con estrategias innovadoras en redes sociales.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- CARDS DE MIEMBROS DEL EQUIPO -->
  <section class="w-full px-4 py-16 bg-white flex flex-col items-center">
    <h1 class="text-4xl md:text-5xl font-bold text-[#080E36] text-center mb-4">
      Conoce al increíble equipo
    </h1>
    <h2 class="text-xl md:text-2xl font-normal text-[#9a9b9c] text-center mb-12">
      Que nadie venga a nosotros sin irse mejor y más feliz
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 w-full max-w-6xl">
      <!-- Tarjeta -->
      <div
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/JuanHoyos-rr24-210x210.jpg" alt="Juan Pablo Hoyos"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          Juan Pablo Hoyos
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Ejecutivo Comercial de Alto Valor
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm">350 223 9363</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm">juanpabloh.rentaraiz&#64;gmail.com</span>
        </div>
      </div>

      <div
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/SebastianOspina-rr24-210x210.jpg" alt="Sebastián Ospina"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          Sebastián Ospina
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Ejecutivo Comercial de Alto Valor
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm">301 205 0207</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm">sebas.rentaraiz&#64;gmail.com</span>
        </div>
      </div>

      <div
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/Lenys-rr24-210x210.jpg" alt="Lenys Cuberos"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          Lenys Cuberos
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Coordinadora Comercial
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm">314 543 8665</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm">direccioncomercial.com&#64;gmail.com</span>
        </div>
      </div>

      <div
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/AndresMejia-rr24-210x210.jpg" alt="Juan Pablo Hoyos"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          Andres Mejia
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Ejecutivo Comercial de Alto Valor
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm">311 785 8793</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm">andresmejia.rentaraiz&#64;gmail.com</span>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap justify-center gap-8 w-full max-w-6xl mt-12">
      <!-- Tarjeta -->

      <div
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/DavidPelaez-rr24-210x210.jpg" alt="Sebastián Ospina"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          David Peláez
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Ejecutivo Comercial de Alto Valor
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm">300 202 5783</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm"> david.rentaraiz&#64;gmail.com</span>
        </div>
      </div>

      <div
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/JuanOspina-rr24-210x210.jpg" alt="Andrés Felipe Aldana"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          Juan Pablo Ospina
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Ejecutivo Comercial de Alto Valor
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm"> 350 223 9393</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm">Juanpablo.rentaraiz&#64;gmail.com</span>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-gray-200">
    <div class="w-8/12 mx-auto mt-8 mb-28">
      <iframe class="w-full h-72 rounded-md"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.527264572011!2d-75.57878828820685!3d6.19394229376781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46825af2bfffff%3A0xe438ca98577bfa7f!2sRenta%20Raiz!5e0!3m2!1ses-419!2sco!4v1744174393181!5m2!1ses-419!2sco"
        style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>

<app-volver></app-volver>
<app-botones-flotantes></app-botones-flotantes>
<app-footer></app-footer>
<app-offcanvas-wishlist [visible]="mostrarOffcanvas" [minimizado]="minimizarOffcanvas"(visibleModalRecorrido)="recibirValorModalRecorrido()"></app-offcanvas-wishlist>
<app-modal-wishlist [mostrarModalRecorrido]="mostrarModalRecorrido" (cerrar)="mostrarModalRecorrido = false"></app-modal-wishlist>