<app-navbar></app-navbar>

<div class="flex flex-col">
  <section class="banner-contacto relative flex items-center justify-center">
    <div class="overlay relative flex flex-col items-center justify-center">
      <img src="assets/images/1.TEXTslider.png" alt="Contáctanos" class="w-full max-w-8xl animate-fade-in" />

      <button type="button" (click)="
          abrirPestana(
            'https://api.whatsapp.com/send?phone=573145438665&fbclid=IwAR3QMKqSukr1caiTy37NVGvXSveu2ROlTUQZ1AQgJ7nr4dzz1FZOdH3rrwU'
          )
        "
        class="absolute top-[40%] sm:top-[75%] flex items-center justify-center text-white bg-[#CDAD60] hover:bg-[#CDAD60]/90 font-bold rounded-full text-xs px-3 py-2 sm:text-lg sm:px-8 sm:py-4 transition-all duration-300 transform hover:scale-105">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-1 sm:w-8 sm:h-8 sm:mr-3" fill="none"
          viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </svg>
        CONTÁCTANOS
      </button>
    </div>
  </section>

  <div class="max-w-6xl mx-auto px-6 py-12">
    <div class="flex flex-col md:flex-row gap-8">
      <!-- Columna de texto -->
      <div class="md:w-2/3">
        <h1 class="text-4xl font-bold text-gray-800 mb-8">¿Quiénes somos?</h1>

        <div class="space-y-6 text-gray-700">
          <p>
            <strong class="font-semibold text-gray-900">Renta Raiz </strong> es
            una inmobiliaria especializada en la renta, venta y administración
            de inmuebles de lujo en Medellín y Antioquia. Con más de 8 años en
            el mercado, nos hemos consolidado como los expertos en propiedades
            exclusivas, ofreciendo a nuestros clientes una experiencia
            personalizada y de alto nivel. Nos enfocamos en brindar un servicio
            único, donde cada cliente es atendido con un enfoque personalizado
            que asegura la búsqueda de la propiedad perfecta que cumpla con sus
            expectativas.
          </p>

          <p>
            Además de ayudar a nuestros clientes a encontrar su hogar ideal,
            somos expertos en la
            <strong class="font-semibold text-gray-900">administración de propiedades de lujo.</strong>. Los
            propietarios confían en nosotros para gestionar y maximizar
            el valor de sus inmuebles, asegurándose de que sean rentados o
            vendidos bajo las mejores condiciones del mercado. Nos encargamos de
            cada detalle, desde la promoción hasta la negociación, asegurando un
            proceso fluido y eficiente.
          </p>

          <p>
            Nuestra esencia se basa en la
            <strong class="font-semibold text-gray-900">calidad sobre la cantidad</strong>: Seleccionamos
            meticulosamente propiedades que cumplan con los más
            altos estándares de lujo y sofisticación, creando un portafolio
            exclusivo que garantiza el mejor valor en cada transacción.
          </p>

          <p>
            Contamos con un equipo de
            <strong class="font-semibold text-gray-900">asesores de alto nivel</strong>, capacitados para brindar un
            servicio excepcional, apoyados en
            tecnología de punta y estrategias de publicidad de vanguardia. Cada
            propiedad es presentada con el cuidado que merece, asegurando su
            visibilidad en los canales adecuados para atraer a los compradores
            más selectos.
          </p>
        </div>
      </div>

      <!-- Columna de imagen -->
      <div class="md:w-2/3 flex items-center justify-center">
        <img src="assets/images/EQUIPO.jpg" alt="Renta Raiz - Inmobiliaria de lujo"
          class="rounded-lg shadow-lg object-cover w-full h-auto max-h-[500px]" />
      </div>
    </div>
  </div>

  <!-- nuesta histrio -->
  <div class="max-w-6xl mx-auto px-6 py-12">
    <div class="flex flex-col md:flex-row gap-8">
      <!-- Columna de texto -->
      <div class="md:w-1/3">
        <img src="assets/images/SOCIOS-1.jpg" alt="Renta Raiz - Inmobiliaria de lujo"
          class="rounded-lg shadow-lg object-cover w-full h-auto max-h-[500px]" />
      </div>

      <!-- Columna de imagen -->
      <div class="md:w-2/3 flex items-center justify-center">
        <div class="space-y-6 text-gray-700">
          <h1 class="text-4xl font-bold text-gray-800 mb-8">
            Nuestra Historia
          </h1>
          <p>
            <strong class="font-semibold text-gray-900">Nuestra historia</strong>
            comenzó en 2017 cuando Juan Pablo Ospina, motivado por la noticia de
            que sería padre, decidió fundar su propia empresa tras adquirir
            experiencia en el mercado de bienes raíces de lujo.
          </p>

          <p>
            Junto a su hermana Sara, quien lideró la creación de la marca y la
            identidad visual de Renta Raíz, y su amigo Juan Pablo Hoyos, experto
            en ventas, iniciaron una aventura empresarial con una visión clara:
            posicionarse como líderes en la comercialización y administración de
            inmuebles de lujo.
          </p>
          <p>
            Desde entonces, su equipo ha crecido, incluyendo a expertos en
            derecho inmobiliario y finanzas, como Juan Diego Cárdenas y Natalia
            Mejía, quienes han sido fundamentales en su expansión. Hoy, los tres
            socios continúan construyendo su legado, guiados por la fe, el
            compromiso y una pasión compartida por crear una empresa de lujo que
            transforma la experiencia inmobiliaria en Antioquia y más allá.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección azul con frase -->
  <div class="relative w-full flex flex-col justify-center items-center py-20 md:py-48 my-10 md:my-20 overflow-hidden">
    <div class="absolute top-0 left-0 w-full h-full bg-[#060F29] z-0"
      style="clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%)"></div>

    <img src="assets/images/2TextoBarra2-e1675443584947.png" alt="Texto decorativo"
      class="w-[80%] sm:w-[60%] md:w-[50%] h-auto relative z-10 mb-8" />

    <div class="flex flex-wrap justify-center gap-3 relative z-10">
      <button type="button" (click)="
          abrirPestana(
            'https://api.whatsapp.com/send?phone=573145438665&fbclid=IwAR3QMKqSukr1caiTy37NVGvXSveu2ROlTUQZ1AQgJ7nr4dzz1FZOdH3rrwU'
          )
        "
        class="flex items-center justify-center text-[#CDAD60] border-2 border-[#CDAD60] hover:text-white hover:bg-[#CDAD60] focus:outline-none focus:ring-4 focus:ring-[#CDAD60]/50 font-bold rounded-full text-sm sm:text-base px-4 py-2 sm:px-6 sm:py-3 transition-all duration-300 transform hover:scale-105 shadow-md hover:shadow-lg">
        <i class="fas fa-envelope mr-2"></i> Hablemos
      </button>
    </div>
  </div>

  <!-- CARDS DE MIEMBROS DEL EQUIPO -->
  <section class="w-full px-4 py-16 bg-white flex flex-col items-center">
    <h1 class="text-4xl md:text-5xl font-bold text-[#080E36] text-center mb-4">
      Conoce al increíble equipo
    </h1>
    <h2 class="text-xl md:text-2xl font-normal text-[#9a9b9c] text-center mb-12">
      Que nadie venga a nosotros sin irse mejor y más feliz
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 w-full max-w-6xl">

      <!-- Tarjeta -->
      <div
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/JuanHoyos-rr24-210x210.jpg" alt="Juan Pablo Hoyos"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          Juan Pablo Hoyos
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Ejecutivo Comercial de Alto Valor
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm">350 223 9363</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm">juanpabloh.rentaraiz&#64;gmail.com</span>
        </div>
      </div>

      <div
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/SebastianOspina-rr24-210x210.jpg" alt="Sebastián Ospina"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          Sebastián Ospina
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Ejecutivo Comercial de Alto Valor
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm">301 205 0207</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm">sebas.rentaraiz&#64;gmail.com</span>
        </div>
      </div>

      <div
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/AndresAldana-rr24-210x210.jpg" alt="Andrés Felipe Aldana"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          Andrés Felipe Aldana
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Ejecutivo Comercial de Alto Valor
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm">323 224 4884</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm">andres.rentaraiz&#64;gmail.com</span>
        </div>
      </div>

      <div
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/Lenys-rr24-210x210.jpg" alt="Lenys Cuberos"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          Lenys Cuberos
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Coordinadora Comercial
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm">314 543 8665</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm">direccioncomercial.com&#64;gmail.com</span>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap justify-center gap-8 w-full max-w-6xl mt-12">
      <!-- Tarjeta -->

      <div
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/AndresMejia-rr24-210x210.jpg" alt="Juan Pablo Hoyos"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          Andres Mejia
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Ejecutivo Comercial de Alto Valor
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm">311 785 8793</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm">andresmejia.rentaraiz&#64;gmail.com</span>
        </div>
      </div>

      <div
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/DavidPelaez-rr24-210x210.jpg" alt="Sebastián Ospina"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          David Peláez
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Ejecutivo Comercial de Alto Valor
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm">300 202 5783</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm"> david.rentaraiz&#64;gmail.com</span>
        </div>
      </div>

      <div
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/JuanOspina-rr24-210x210.jpg" alt="Andrés Felipe Aldana"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          Juan Pablo Ospina
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Ejecutivo Comercial de Alto Valor
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm"> 350 223 9393</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm">Juanpablo.rentaraiz&#64;gmail.com</span>
        </div>
      </div>
    </div>
  </section>

  <div class="w-8/12 mx-auto mt-8">
    <iframe class="w-full h-72 rounded-md"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.527264572011!2d-75.57878828820685!3d6.19394229376781!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46825af2bfffff%3A0xe438ca98577bfa7f!2sRenta%20Raiz!5e0!3m2!1ses-419!2sco!4v1744174393181!5m2!1ses-419!2sco"
      style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<app-botones-flotantes></app-botones-flotantes>

<app-footer></app-footer>