<div *ngIf="!isSafariOrIOS" class="pdf-container">
  <iframe
    [src]="safeUrl"
    width="100%"
    height="600px"
    style="border: none;"
  ></iframe>
</div>

<div *ngIf="isSafariOrIOS" class="pdf-download">
  <p>El visor nativo de iOS/Safari se ha abierto en otra pestaña.</p>
  <a [href]="pdfUrl" target="_blank" rel="noopener noreferrer">
    Si no se abrió, haz clic aquí para ver el PDF
  </a>
</div>


<app-offcanvas-wishlist (cerrarNotificacion)="sincronizarCierre()" [visible]="mostrarOffcanvas" [minimizado]="minimizarOffcanvas" (visibleModalRecorrido)="recibirValorModalRecorrido()"></app-offcanvas-wishlist>
<app-botones-flotantes    (abrir)="toggleOffcanvas()"></app-botones-flotantes>
<app-modal-wishlist [mostrarModalRecorrido]="mostrarModalRecorrido" (cerrar)="mostrarModalRecorrido = false"></app-modal-wishlist>