<app-navbar  (abrir)="toggleOffcanvas()"></app-navbar>

<div class="flex flex-col">
  <div class="banner-contacto w-full h-[40vh] md:h-[60vh] overflow-hidden">
    <div class="relative w-full h-full">
      <!-- Imagen de Fondo (No se corta en móvil) -->
      <img src="assets/images/SLIDEREXPERTOS.png" loading="lazy"
        class="absolute inset-0 w-full h-full object-fill md:object-cover lg:object-cover xl:object-cover 2xl:object-cover z-10"
        alt="Fondo" />

      <!-- Imagen de Texto (Más grande en móvil) -->
      <div class="absolute inset-0 z-30 flex items-center">
        <img src="assets/images/TEXTOSLIDEREXPERTOS.png"
          class="hidden lg:block w-[100%] md:w-[60%] lg:w-[70%] xl:w-[60%] 2xl:w-[50%] md:mb-16 2xl:mb-0 h-auto object-contain -translate-y-6 md:-translate-y-4 xl:-translate-y-2md:-translate-y-4 xl:-translate-y-[-50px] translate-x-26 md:translate-x-60 lg:translate-x-2 xl:ml-[195px] 2xl:translate-x-64 custom-1024:translate-x-custom-1024"
          alt="Expertos Desktop" />

        <!-- Mobile & Tablet Image (up to lg) -->
        <div class="flex justify-center lg:hidden">
          <img src="assets/images/EXPERTOS-MOVIL.png"
            class="block lg:hidden w-[100%] h-auto object-contain md:-translate-y-[-190px] -translate-y-[-70px] md:w-[90%] sm:w-[70%] xs:w-[70%]"
            alt="Expertos Mobile" />
        </div>
      </div>
    </div>
  </div>

  <div #dropdownContainer>
    <app-barra-filtros></app-barra-filtros>
  </div>

  <!-- CARDS DE MIEMBROS DEL EQUIPO -->
  <section class="w-full px-4 py-40 bg-white flex flex-col items-center">
    <h1 class="text-4xl md:text-5xl font-bold text-[#080E36] text-center mb-4">
      Conoce al increíble equipo
    </h1>
    <h2 class="text-xl md:text-2xl font-normal text-[#9a9b9c] text-center mb-12">
      Que nadie venga a nosotros sin irse mejor y más feliz
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 w-full max-w-6xl">
      <!-- Tarjeta -->
      <div (click)="abrirPortafolio(asesoresCode['Juan Pablo Hoyos'])" style="cursor: pointer;"
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/JuanHoyos-rr24-210x210.jpg" alt="Juan Pablo Hoyos"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          Juan Pablo Hoyos
        </h3>
        
        <p class="text-sm font-medium text-gray-900 text-center">
          Ejecutivo Comercial de Alto Valor
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm">350 223 9363</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm">juanpabloh.rentaraiz&#64;gmail.com</span>
        </div>
      </div>

      <div (click)="abrirPortafolio(asesoresCode['Sebastián Ospina'])" style="cursor: pointer;"
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/SebastianOspina-rr24-210x210.jpg" alt="Sebastián Ospina"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          Sebastián Ospina
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Ejecutivo Comercial de Alto Valor
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm">301 205 0207</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm">sebas.rentaraiz&#64;gmail.com</span>
        </div>
      </div>

      <div (click)="abrirPortafolio(asesoresCode['Lenys Cuberos'])" style="cursor: pointer;"
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/Lenys-rr24-210x210.jpg" alt="Lenys Cuberos"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          Lenys Cuberos
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Coordinadora Comercial
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm">314 543 8665</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm">direccioncomercial.com&#64;gmail.com</span>
        </div>
      </div>

      <div (click)="abrirPortafolio(asesoresCode['Andres Mejia'])" style="cursor: pointer;"
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/AndresMejia-rr24-210x210.jpg" alt="Juan Pablo Hoyos"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          Andres Mejia
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Ejecutivo Comercial de Alto Valor
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm">311 785 8793</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm">andresmejia.rentaraiz&#64;gmail.com</span>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap justify-center gap-8 w-full max-w-6xl mt-12">
      <!-- Tarjeta -->

      <div (click)="abrirPortafolio(asesoresCode['David Peláez'])" style="cursor: pointer;"
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/DavidPelaez-rr24-210x210.jpg" alt="Sebastián Ospina"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          David Peláez
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Ejecutivo Comercial de Alto Valor
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm">300 202 5783</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm"> david.rentaraiz&#64;gmail.com</span>
        </div>
      </div>

      <div (click)="abrirPortafolio(asesoresCode['Juan Pablo Ospina'])" style="cursor: pointer;"
        class="bg-white rounded-xl shadow-md p-8 py-10 flex flex-col items-center transition hover:scale-105 duration-300">
        <img src="assets/images/JuanOspina-rr24-210x210.jpg" alt="Andrés Felipe Aldana"
          class="w-32 h-32 rounded-full object-cover" />
        <h3 class="text-lg font-bold text-gray-900 mt-4 text-center">
          Juan Pablo Ospina
        </h3>
        <p class="text-sm font-medium text-gray-900 text-center">
          Ejecutivo Comercial de Alto Valor
        </p>
        <div class="flex items-center text-gray-600 mt-2">
          <i class="fa-solid fa-phone text-lg"></i>
          <span class="ml-2 text-sm"> 350 223 9393</span>
        </div>
        <div class="flex items-center text-gray-600 mt-1">
          <i class="fa-solid fa-envelope text-lg"></i>
          <span class="ml-2 text-sm">Juanpablo.rentaraiz&#64;gmail.com</span>
        </div>
      </div>
    </div>
  </section>
</div>

<app-volver></app-volver>
<app-footer></app-footer>
<app-botones-flotantes></app-botones-flotantes>

<app-offcanvas-wishlist [visible]="mostrarOffcanvas" [minimizado]="minimizarOffcanvas"(visibleModalRecorrido)="recibirValorModalRecorrido()"></app-offcanvas-wishlist>
<app-modal-wishlist [mostrarModalRecorrido]="mostrarModalRecorrido" (cerrar)="mostrarModalRecorrido = false"></app-modal-wishlist>