<app-navbar></app-navbar>

<div class="flex flex-col">
    <section class="banner-contacto relative flex items-center justify-center">
        <div class="overlay relative flex flex-col items-center justify-center">
          <img
            src="assets/images/1.TEXTslider.png"
            alt="Contáctanos"
            class="w-full max-w-8xl animate-fade-in"
          />
    
          <button
            type="button"
            (click)="
              abrirPestana(
                'https://api.whatsapp.com/send?phone=573145438665&fbclid=IwAR3QMKqSukr1caiTy37NVGvXSveu2ROlTUQZ1AQgJ7nr4dzz1FZOdH3rrwU'
              )
            "
            class="absolute top-[40%] sm:top-[75%] flex items-center justify-center text-white bg-[#CDAD60] hover:bg-[#CDAD60]/90 font-bold rounded-full text-xs px-3 py-2 sm:text-lg sm:px-8 sm:py-4 transition-all duration-300 transform hover:scale-105"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4 mr-1 sm:w-8 sm:h-8 sm:mr-3"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2 2v10a2 2 0 002 2z"
              />
            </svg>
            CONTÁCTANOS
          </button>
        </div>
      </section>
</div>
