<!-- FOOTER RECTANGULAR -->
<footer class="relative w-full bg-[#060F29] min-h-[480px]">
  <div class="max-w-screen-xl mx-auto pb-24 px-4 pt-24">
    <div class="text-white">
      <div class="mb-6 flex justify-start">
        <img src="assets/images/logo-final.png" class="h-24" alt="Logo" />
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div class="flex flex-col justify-between">
          <div>
            <h2 class="mb-3 text-xl font-semibold">Contáctenos</h2>
            <p class="text-gray-300 text-lg mb-4">
              Envíanos tus inquietudes, sugerencias o comentarios
            </p>
          </div>
          <button (click)="
              abrirPestana(
                'https://api.whatsapp.com/send?phone=573145438665&fbclid=IwAR3QMKqSukr1caiTy37NVGvXSveu2ROlTUQZ1AQgJ7nr4dzz1FZOdH3rrwU'
              )
            "
            class="px-6 py-3 bg-[#4b4b4b] text-white font-bold rounded-lg transition-all duration-300 transform hover:scale-105 shadow-lg w-fit self-start">
            Contactanos
          </button>
        </div>

        <div class="flex flex-col justify-between">
          <div>
            <h2 class="mb-3 text-xl font-semibold">Consigna tu inmueble</h2>
            <p class="text-gray-300 text-lg mb-4">
              Vende o arrienda tu inmueble con nosotros.
            </p>
          </div>
          <button
            class="px-6 py-3 bg-[#CDAD60] hover:bg-[#CDAD60]/90 text-white font-bold rounded-lg transition-all duration-300 transform hover:scale-105 shadow-lg w-fit self-start">
            Publicar Inmueble
          </button>
        </div>

        <!-- Instagram -->
        <div>
          <div class="grid grid-cols-4 gap-2 mb-4">
            <a href="https://www.instagram.com/reel/DIRwmbJvb3W/" target="_blank" rel="noopener noreferrer"
              class="aspect-square bg-gray-100 rounded-sm overflow-hidden cursor-pointer block">
              <img src="assets/images/post1.webp" class="rounded w-full aspect-square object-cover" alt="Insta 1" />
            </a>
            <a href="https://www.instagram.com/reel/DIPw2pQvNKI/" target="_blank" rel="noopener noreferrer"
              class="aspect-square bg-gray-100 rounded-sm overflow-hidden cursor-pointer block">
              <img src="assets/images/post2.webp" class="rounded w-full aspect-square object-cover" alt="Insta 2" />
            </a>
            <a href="https://www.instagram.com/reel/DIKFc0bvLxQ/" target="_blank" rel="noopener noreferrer"
              class="aspect-square bg-gray-100 rounded-sm overflow-hidden cursor-pointer block">
              <img src="assets/images/post3.webp" class="rounded w-full aspect-square object-cover" alt="Insta 3" />
            </a>
            <a href="https://www.instagram.com/p/DIHCJeeR10q/?img_index=1" target="_blank" rel="noopener noreferrer"
              class="aspect-square bg-gray-100 rounded-sm overflow-hidden cursor-pointer block">
              <img src="assets/images/post4.webp" class="rounded w-full aspect-square object-cover" alt="Insta 4" />
            </a>
          </div>
          <div class="flex justify-center">
            <a href="https://www.instagram.com/rentaraiz/" target="_blank"
              class="bg-[#0077ff] hover:bg-[#0066d6] text-white px-4 py-2 text-sm flex items-center space-x-2 rounded-lg transition-all duration-300 transform hover:scale-105 shadow-lg">
              <i class="fa-brands fa-instagram"></i>
              <span>Síguenos en Instagram</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-16 border-gray-600" />

    <div class="flex flex-col sm:flex-row justify-between items-center text-white text-sm">
      <span class="text-gray-300 text-center sm:text-left mb-2 sm:mb-0">
        © 2025 Renta Raiz S.A.S. Todos los derechos reservados.
      </span>

      <!-- Redes sociales -->
      <div class="flex space-x-6 text-2xl">
        <a href="#" class="text-gray-300 hover:text-[#CDAD60] transition-colors"><i
            class="fa-brands fa-facebook-f"></i></a>
        <a href="#" class="text-gray-300 hover:text-[#CDAD60] transition-colors"><i
            class="fa-brands fa-twitter"></i></a>
        <a href="#" class="text-gray-300 hover:text-[#CDAD60] transition-colors"><i
            class="fa-brands fa-instagram"></i></a>
        <a href="#" class="text-gray-300 hover:text-[#CDAD60] transition-colors"><i
            class="fa-brands fa-pinterest"></i></a>
        <a href="#" class="text-gray-300 hover:text-[#CDAD60] transition-colors"><i
            class="fa-brands fa-youtube"></i></a>
        <a href="#" class="text-gray-300 hover:text-[#CDAD60] transition-colors"><i
            class="fa-brands fa-whatsapp"></i></a>
      </div>
    </div>

    <!-- Enlaces legales -->
    <div
      class="mt-4 flex flex-wrap justify-center sm:justify-start gap-x-6 gap-y-2 text-sm text-white underline underline-offset-2">
      <a (click)="abrirPestana('https://rentaraiz.co/politicas/')"
        class="cursor-pointer hover:text-[#CDAD60] transition-colors">Políticas de Cookies</a>
      <a (click)="abrirPestana('https://rentaraiz.co/politicas/')"
        class="cursor-pointer hover:text-[#CDAD60] transition-colors">Términos y Condiciones</a>
      <a (click)="abrirPestana('https://rentaraiz.co/politicas/')"
        class="cursor-pointer hover:text-[#CDAD60] transition-colors">Política de Tratamiento de Datos Personales</a>
      <a (click)="abrirPestana('https://rentaraiz.co/politicas/')"
        class="cursor-pointer hover:text-[#CDAD60] transition-colors">Vigilado Superintendencia de Industria y Comercio
        (SIC)</a>
    </div>
  </div>
</footer>