<div class="fixed bottom-6 left-6 flex flex-col gap-3 z-50">
    <button (click)="abrirOffcanvas()" 
            class="text-white bg-[#003366] text-lg w-14 h-14 rounded-full hover:text-[#cdad60] transition-colors md:hidden flex items-center justify-center shadow-lg">
        <i class="fas fa-cart-shopping text-2xl"></i>
    </button>

    <span class="absolute left-1/2 -translate-x-1/2 -bottom-9 
            bg-gray-800 text-white text-xs px-2 py-1 rounded 
            opacity-0 group-hover:opacity-100 transition-opacity duration-300
            whitespace-nowrap pointer-events-none md:hidden">
        Ver Recorrido
    </span>

    <a target="_blank"
        onclick="window.open('https://gateway2.tucompra.com.co/sites/RentaRaiz/facturacion.xhtml?idTerminal=2018')"
        class="cursor-pointer w-14 h-14 rounded-full shadow-lg hover:brightness-110 transition duration-200 relative overflow-hidden bg-[#003366] md:hidden">
        <img src="assets/images/pse-findo.png" alt="PSE"
            class="absolute inset-0 w-full h-full object-contain scale-125" />
    </a>
</div>

<div class="fixed bottom-6 right-6 flex flex-col gap-3 z-50 items-center">
    
    <a href="https://wa.me/573145438665?text=Hola%20buen%20dia%20busco%20propiedad%20"
       class="cursor-pointer w-14 h-14 rounded-full shadow-lg hover:bg-[#128C7E] transition-all duration-300 bg-[#25D366] flex items-center justify-center text-white"
       aria-label="Contactar por WhatsApp">
        <i class="fab fa-whatsapp text-3xl"></i>
    </a>

    <button (click)="scrollToTop()"
        class="cursor-pointer w-14 h-14 rounded-full shadow-lg hover:bg-[#CDAD60] transition-all duration-300 bg-[#080E36] flex items-center justify-center"
        aria-label="Volver arriba">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
        </svg>
    </button>

</div>