<app-navbar-2 [alwaysScrolled]="true"></app-navbar-2>




<div class="flex flex-col items-center px-4 md:px-0 mt-20 pb-3">
  <div class="banner-contacto w-full max-h-[100vh] overflow-hidden" data-carousel="slide" data-carousel-interval="5000">
    <div
      class="relative w-full md:w-3/4 lg:max-w-[3000px] lg:max-h-[1000px] aspect-video mx-auto rounded-xl overflow-hidden shadow-lg">
      <iframe class="w-full h-full"
        src="https://www.youtube.com/embed/Ae5JuC54Ba8?autoplay=1&mute=1&loop=1&playlist=Ae5JuC54Ba8&controls=1&modestbranding=1"
        title="Video de fondo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
      </iframe>
    </div>
  </div>


</div>
<div class="pt-6 md:pt-24 pb-6" #dropdownContainer>
  <app-barra-filtros-prioritarios [cargando]="isCargando"
    (filtosSelected)="getFiltrosSeleccionados($event)"></app-barra-filtros-prioritarios>
</div>


<div class="w-full pt-12 mb-6  md:mb-12 flex flex-col items-center  px-4">
  <h1 class="text-4xl sm:text-5xl font-bold text-[#080E36] text-center ">
    Nuestros inmuebles {{type}}
  </h1>
  <h2 class="text-xl md:text-2xl font-normal text-[#9a9b9c] text-center">
    No sueñes, ¡hagamos que suceda!
  </h2>
</div>

<div class="relative">
  <!-- Overlay de carga -->
  <div *ngIf="loadingResultadosVenta"
    class="absolute inset-0 bg-white bg-opacity-70 z-40 flex items-center justify-center">
    <div class="flex flex-col items-center">
      <div class="w-10 h-10 border-4 border-[#CDAD60] border-t-transparent rounded-full animate-spin"></div>
    </div>
  </div>
  <div *ngFor="let resul of resultados">
    <div class="w-full  transition-all duration-300 ease-in-out px-4 md:px-6 lg:px-10 xl:px-12 md:mt-16" [ngClass]="{
      'md:ml-[24rem] lg:ml-[26rem] xl:ml-[28rem]': isDrawerOpen,
      'md:ml-0': !isDrawerOpen,
      'bg-gray-200': resul.type === 'Oro' || resul.type === 'Diamante',
      

    }" style="padding-top: 10px;">



      <div style="padding-top: 10px;" *ngIf="resultados.length > 0 "
        class="w-full   transition-all duration-300 ease-in-out px-4 md:px-6 lg:px-10 xl:px-16 md:mt-6" [ngClass]="{
      'md:ml-[24rem] lg:ml-[26rem] xl:ml-[28rem]': isDrawerOpen,
      'md:ml-0': !isDrawerOpen
    }">


        <div class="flex flex-col md:flex-row">
          <div class="relative w-full">



            <div class="w-full flex flex-col items-center  px-4">
              <h1 class="text-4xl sm:text-5xl font-bold text-[#080E36] text-center mb-4">
                <i class="fas fa-gem text-blue-500 text-l" title="Propiedad diamante"
                  *ngIf="resul.type === 'Diamante'"></i>
                <i class="fas fa-crown text-yellow-500 text-l" title="Propiedad oro" *ngIf="resul.type === 'Oro'"></i>
                <i class="fas fa-medal text-gray-400 text-l" title="Propiedad plata" *ngIf="resul.type === 'Plata'"></i>
                Inmuebles {{resul.type}}
              </h1>

            </div>

            <!-- Contenido de resultados desktop -->
            <div class=" hidden md:block">
              <div *ngIf="resultados.length > 0 "
                class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 mt-10 relative z-0 items-center">

                <div *ngFor="let inmueble of resul.data.data"
                  class="z-10 relative bg-white border border-[#CDAD60] rounded-lg shadow-md border-b-4 pb-4 text-sm w-full mx-auto">
                  <div class="relative group">
                    <a href="#">
                      <img class="rounded-t-lg w-full h-44 object-cover"
                        [src]="inmueble.image1 || 'assets/images/renta-1.jpg'" [alt]="inmueble.address" />
                    </a>

                    <div
                      class="absolute inset-0 bg-[#080E36] bg-opacity-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center rounded-t-lg z-10">
                      <a (click)="verPropiedad(inmueble.codpro)"
                        class="cursor-pointer bg-white text-[#080E36] px-4 py-1 font-medium rounded shadow hover:bg-[#CDAD60] hover:text-white text-xs">
                        Ver propiedad
                      </a>
                    </div>

                    <div
                      class="absolute -top-2 -left-0.5 bg-[#080E36] text-white text-sm font-semibold px-3 py-1 flex items-center z-20 before:content-[''] before:absolute before:top-0 before:right-[-10px] before:border-y-[14px] before:border-y-transparent before:border-l-[10px] before:border-l-[#080E36]">
                      {{ inmueble.biz | titlecase }}
                    </div>

                    <div class="absolute bottom-1 left-1 right-1 flex justify-between items-center px-2 z-20">
                      <span class="bg-[#CDAD60] text-white text-xs font-medium px-2 py-0.5 rounded shadow">
                        {{ inmueble.type | titlecase }}
                      </span>

                      <div class="flex items-center gap-2">
                        <ng-container *ngIf="
                    (inmueble.saleprice && inmueble.saleprice > 2000000000) ||
                    (inmueble.rent && inmueble.rent > 15000000)
                  ">
                          <i class="fas fa-gem text-blue-500 text-xl" title="Propiedad diamante"></i>
                        </ng-container>

                        <ng-container *ngIf="
                    (inmueble.saleprice &&
                      inmueble.saleprice >= 1000000001 &&
                      inmueble.saleprice <= 2000000000) ||
                    (inmueble.rent &&
                      inmueble.rent >= 8000000 &&
                      inmueble.rent <= 15000000)
                  ">
                          <i class="fas fa-crown text-yellow-500 text-xl" title="Propiedad oro"></i>
                        </ng-container>

                        <ng-container *ngIf="
                    (inmueble.saleprice &&
                      inmueble.saleprice >= 100000000 &&
                      inmueble.saleprice <= 1000000000) ||
                    (inmueble.rent &&
                      inmueble.rent >= 2000000 &&
                      inmueble.rent <= 8000000)
                  ">
                          <i class="fas fa-medal text-gray-400 text-xl" title="Propiedad plata"></i>
                        </ng-container>

                        <button class="text-white text-lg hover:text-[#ea6666] transition-colors">
                          <i class="fas fa-heart text-2xl"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="p-3">
                    <a (click)="verPropiedad(inmueble.codpro)" class="cursor-pointer">
                      <h5 class="mb-1 text-base font-semibold tracking-tight text-[#080E36] leading-snug">
                        {{
                        inmueble.neighborhood || "Sin barrio especificado" | titlecase
                        }}
                        <span class="text-[#080E36] text-sm font-semibold">(Barrio)</span>
                      </h5>
                      <p class="text-[#707172] mb-2 line-clamp-2 overflow-hidden text-xs">
                        {{ inmueble.description }}
                      </p>
                    </a>

                    <div class="flex justify-between text-[#080E36] mt-2">
                      <div class="flex flex-col items-center">
                        <span class="text-xs font-medium">Habit</span>
                        <div class="flex items-center text-xs">
                          <i class="fas fa-bed text-sm"></i>
                          <span class="ml-1">{{ inmueble.bedrooms || "N/A" }}</span>
                        </div>
                      </div>
                      <div class="flex flex-col items-center">
                        <span class="text-xs font-medium">Baños</span>
                        <div class="flex items-center text-xs">
                          <i class="fas fa-bath text-sm"></i>
                          <span class="ml-1">{{ inmueble.bathrooms || "N/A" }}</span>
                        </div>
                      </div>
                      <div class="flex flex-col items-center">
                        <span class="text-xs font-medium">Área</span>
                        <div class="flex items-center text-xs">
                          <i class="fas fa-ruler-combined text-sm"></i>
                          <span class="ml-1">
                            {{ inmueble.area_cons || inmueble.area_lot || "N/A" }} m²
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="flex flex-col mt-3 text-[#080E36] text-sm font-medium">
                      <span>Precio:</span>
                      <span class="text-[#000000] mt-1 text-base font-semibold">
                        {{
                        inmueble.price_format ||
                        (inmueble.price
                        | currency : "COP" : "symbol-narrow" : "1.0-0") ||
                        "Consultar"
                        }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <!-- mobile -->
            <!-- CARRUSEL DE INMUEBLES EN VENTA -->
            <div class="relative block md:hidden   z-10  ">
              <!-- Botones de navegación -->
              <button (click)="scrollCarrusel('venta', 'left')"
                class="hidden md:flex absolute left-0 top-1/2 transform -translate-y-1/2 bg-[#080E36] text-white p-2 rounded-full shadow hover:bg-[#CDAD60] z-20">
                <i class="fas fa-chevron-left"></i>
              </button>

              <div #carruselVenta class="flex overflow-x-auto scroll-smooth space-x-4 mt-10 pb-4 snap-x snap-mandatory"
                style="scrollbar-width: none; -ms-overflow-style: none;">
                <div *ngFor="let inmueble of resul.data.data"
                  class="snap-center flex-none w-72 sm:w-80 md:w-96 bg-white border border-[#CDAD60] rounded-lg shadow-md pb-4 text-sm">
                  <div class="relative group">
                    <a href="#">
                      <img class="rounded-t-lg w-full h-44 object-cover"
                        [src]="inmueble.image1 || 'assets/images/renta-1.jpg'" [alt]="inmueble.address" />
                    </a>

                    <div
                      class="absolute inset-0 bg-[#080E36] bg-opacity-60 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center rounded-t-lg z-10">
                      <a (click)="verPropiedad(inmueble.codpro)"
                        class="cursor-pointer bg-white text-[#080E36] px-4 py-1 font-medium rounded shadow hover:bg-[#CDAD60] hover:text-white text-xs">
                        Ver propiedad
                      </a>
                    </div>

                    <div
                      class="absolute -top-2 -left-0.5 bg-[#080E36] text-white text-sm font-semibold px-3 py-1 flex items-center z-20 before:content-[''] before:absolute before:top-0 before:right-[-10px] before:border-y-[14px] before:border-y-transparent before:border-l-[10px] before:border-l-[#080E36]">
                      {{ inmueble.biz | titlecase }}
                    </div>

                    <div class="absolute bottom-1 left-1 right-1 flex justify-between items-center px-2 z-20">
                      <div class="flex flex-col gap-2">
                        <!-- Etiqueta superior (por ejemplo 'Venta' o tipo de operación) -->
                        <span
                          class="bg-[#CDAD60] text-white text-sm font-semibold px-3 py-1 rounded shadow inline-block">
                          {{ inmueble.type | titlecase }}
                        </span>

                        <!-- Etiqueta inferior (tipo: Casa/Apartamento) -->
                        <span
                          class="bg-[#CDAD60] text-white text-xs font-semibold px-3 py-1 rounded shadow inline-block">
                          Codigo: {{ inmueble?.codpro }}
                        </span>
                      </div>

                      <div class="flex items-center gap-2">
                        <ng-container *ngIf="
                    (inmueble.saleprice && inmueble.saleprice > 2000000000) ||
                    (inmueble.rent && inmueble.rent > 15000000)
                  ">
                          <i class="fas fa-gem text-blue-500 text-xl" title="Propiedad diamante"></i>
                        </ng-container>

                        <ng-container *ngIf="
                    (inmueble.saleprice &&
                      inmueble.saleprice >= 1000000001 &&
                      inmueble.saleprice <= 2000000000) ||
                    (inmueble.rent &&
                      inmueble.rent >= 8000000 &&
                      inmueble.rent <= 15000000)
                  ">
                          <i class="fas fa-crown text-yellow-500 text-xl" title="Propiedad oro"></i>
                        </ng-container>

                        <ng-container *ngIf="
                    (inmueble.saleprice &&
                      inmueble.saleprice >= 100000000 &&
                      inmueble.saleprice <= 1000000000) ||
                    (inmueble.rent &&
                      inmueble.rent >= 2000000 &&
                      inmueble.rent <= 8000000)
                  ">
                          <i class="fas fa-medal text-gray-400 text-xl" title="Propiedad plata"></i>
                        </ng-container>

                        <button class="text-white text-lg hover:text-[#ea6666] transition-colors">
                          <i class="fas fa-heart text-2xl"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="p-3">
                    <a (click)="verPropiedad(inmueble.codpro)" class="cursor-pointer">
                      <h5 class="mb-1 text-base font-semibold tracking-tight text-[#080E36] leading-snug">
                        {{
                        inmueble.neighborhood || "Sin barrio especificado" | titlecase
                        }}
                        <span class="text-[#080E36] text-sm font-semibold">(Barrio)</span>
                      </h5>
                      <p class="text-[#707172] mb-2 line-clamp-2 overflow-hidden text-xs">
                        {{ inmueble.description }}
                      </p>
                    </a>

                    <div class="flex justify-between text-[#080E36] mt-2">
                      <div class="flex flex-col items-center">
                        <span class="text-xs font-medium">Habit</span>
                        <div class="flex items-center text-xs">
                          <i class="fas fa-bed text-sm"></i>
                          <span class="ml-1">{{ inmueble.bedrooms || "N/A" }}</span>
                        </div>
                      </div>
                      <div class="flex flex-col items-center">
                        <span class="text-xs font-medium">Baños</span>
                        <div class="flex items-center text-xs">
                          <i class="fas fa-bath text-sm"></i>
                          <span class="ml-1">{{ inmueble.bathrooms || "N/A" }}</span>
                        </div>
                      </div>
                      <div class="flex flex-col items-center">
                        <span class="text-xs font-medium">Área</span>
                        <div class="flex items-center text-xs">
                          <i class="fas fa-ruler-combined text-sm"></i>
                          <span class="ml-1">
                            {{ inmueble.area_cons || inmueble.area_lot || "N/A" }} m²
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="flex flex-col mt-3 text-[#080E36] text-sm font-medium">
                      <span>Precio:</span>
                      <span class="text-[#000000] mt-1 text-base font-semibold">
                        {{
                        inmueble.price_format ||
                        (inmueble.price
                        | currency : "COP" : "symbol-narrow" : "1.0-0") ||
                        "Consultar"
                        }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <button (click)="scrollCarrusel('venta', 'right')"
                class="hidden md:flex absolute right-0 top-1/2 transform -translate-y-1/2 bg-[#080E36] text-white p-2 rounded-full shadow hover:bg-[#CDAD60] z-20">
                <i class="fas fa-chevron-right"></i>
              </button>
            </div>









          </div>




        </div>

        <!-- Paginado -->
        <!-- Contenedor de paginado -->
        <div class="flex items-center justify-center relative mt-12" *ngIf="resul.data.data.length > 0"
          style="padding-bottom: 50px;">

          <!-- Navegación centrada -->
          <nav aria-label="Page navigation" class="absolute left-1/2 -translate-x-1/2">
            <ul class="inline-flex items-center -space-x-px text-sm">
              <li>
                <button (click)="paginaAnterior('ARRIENDO', resul)"
                  [disabled]="resul.paginacion.paginaActualVenta === 1"
                  class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 disabled:opacity-50">
                  Anterior
                </button>
              </li>

              <li *ngIf="bloqueActualVenta > 0">
                <button (click)="irAlBloqueAnterior('ARRIENDO')" [disabled]="resul.paginacion.bloqueActualVenta === 0"
                  class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 disabled:opacity-50">
                  ...
                </button>
              </li>

              <li *ngFor="let pagina of resul.paginacion.paginasVenta" class="mx-0.5">
                <ng-container *ngIf="pagina === '...'; else paginaBtn">
                  <button
                    class="px-3 py-2 leading-tight border border-gray-300 text-gray-400 bg-white hover:bg-gray-100 rounded">
                    ...
                  </button>
                </ng-container>
                <ng-template #paginaBtn>
                  <button (click)="cambiarPagina(pagina, 'ARRIENDO')" [ngClass]="
                pagina === resul.paginacion.paginaActualVenta
                  ? 'text-white bg-[#CDAD60]'
                  : 'text-gray-500 bg-white hover:bg-gray-100 hover:text-gray-700'
              " class="px-3 py-2 leading-tight border border-gray-300 rounded">
                    {{ pagina }}
                  </button>
                </ng-template>
              </li>

              <li>
                <button (click)="paginaSiguiente('ARRIENDO', resul)"
                  [disabled]="resul.paginacion.paginaActualVenta === resul.paginacion.totalPaginasVenta"
                  class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 disabled:opacity-50">
                  Siguiente
                </button>
              </li>
            </ul>
          </nav>

        </div>

      </div>
    </div>
  </div>
</div>